<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
    <title>Create  Ride</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="http://localhost:63342/ASDC/resources/dashboardOwner.html?_ijt=1nse86vel5nk3ni1ikpgci49kg&_ij_reload=RELOAD_ON_SAVE"><img src="images/logo.png" class="logo"></a>&nbsp;
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form th:action="@{/create-ride}" class="d-flex" style="margin-left: -2%;">
                <div class="btn-group">
                    <a class="nav-link" role="button" aria-haspopup="true" href="/login">Logout</a>
                </div>
            </form>
        </div>
    </div>
</nav>


<div class="container">
    <div class="head mt-3">
        <center><h4>Create Ride</h4></center>
    </div>
    <form action="" method="post">
        <center>
            <div class="mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-building"></i></span>
                    </div>
                    <input type="text" name="source" class="form-control" placeholder="To" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-building"></i></span>
                    </div>
                    <input type="text" name="destination" class="form-control" placeholder="From" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-user"></i>&emsp;Available Seats</span>
                    </div>
                    <input type="number" name="bookseats" min="1" max="4">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <input type="text" name="start" class="form-control" placeholder="Depart" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <input type="text" name="end" class="form-control" placeholder="Arrive" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-road"></i></span>
                    </div>
                    <input type="text" name="distance" class="form-control" placeholder="Distance" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-right-0"><i class="fa fa-money"></i></span>
                    </div>
                    <input type="text" name="cost" class="form-control" placeholder="Total Cost" disabled>
                </div>
                <div class="form-group col-lg-12 mx-auto mb-0">
                    <input class="btn btn-outline-info" type="submit" name="submit" value="Create"  style="width: 200px;border-radius: 20px;">
                </div>
            </div>
        </center>
    </form>
</div>
<footer>
    <div class="container-fluid text-center bg-dark" style="margin-top: 1%;margin-bottom: unset;width: 100%;">
        <p style="padding:1%;font-size: 14px;margin-bottom: unset;">2022 Copyright &copy; RideShare</p>
    </div>
</footer>
</body>
</html>