<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Privacy & Terms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel=”stylesheet” href=”css/bootstrap.css”>
  <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
  <style type="text/css">
    .s2 div {
    	background-color: #52b2bf;
    	text-align: center;
    	width: 60%;
    	margin: auto;
    }
    	.s2 h3{
    		color: white;
    	}
    	.s3 h5 {
    		color: #52b2bf;
        margin-top: 2%;
    	}
      .s3 ol{
        list-style: none;
      }
      .s3 {
        text-align: justify;
        color: black;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="hp.php"><img src="images/logo.png" class="logo"></a>&nbsp;
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex" style="margin-left: -2%;">
        <div class="btn-group">
          <a class="nav-link" role="button" aria-haspopup="true" href="/login">Logout</a>
        </div>
      </form>
    </div>
  </div>
</nav>

<section class="s2"><br>
  <div>
    <h3>PRIVACY POLICY</h3>
  </div>
</section>
<section class="s3">
  <div class="container">
    <ol class="ol">
      <li><br>
        <p>
          This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being use online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
        </p>
        <hr>
      </li>
      <li>
        <h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
        <p>
          When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number, credit card information, Education and Experience or other details to help you with your experience.
        </p>
      </li>
      <li>
        <h5>When do we collect information?</h5>
        <p>
          We collect information from you when you register on our site, place an order, subscribe to a newsletter, respond to a survey, fill out a form Apply for Internships or enter information on our site.
        </p>
      </li>
      <li>
        <h5>How do we use your information?</h5>
        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        <ul style="list-style-type:circle;">
          <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
          <li>To improve our website in order to better serve you.</li>
          <li>To allow us to better service you in responding to your customer service requests</li>
          <li> We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
          <li>To administer a contest, promotion, survey or other site feature</li>
          <li>To quickly process your transactions</li>
          <li>To send periodic emails regarding your order or other products and services.</li>
        </ul>
      </li>
      <li>
        <h5>How do we protect visitor information?</h5>
        <p>We do not use vulnerability scanning and/or scanning to PCI standards. We do not use Malware Scanning</p>
      </li>
      <li>
        <h5>Do we use 'cookies' ?</h5>
        <p>We do not use cookies for tracking purposes
          You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
          If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly.
          However, you can still place orders .</p>
        <hr>
      </li>
      <li>
        <h5>Third-party disclosure</h5>
        <p>
          We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
          However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        </p>
      </li>
      <li>
        <h5>Third-party links</h5>
        <p>
          Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        </p>
      </li>
      <li>
        <h5>Security of information</h5>
        <p>
          We have implemented generally accepted industry standards in terms of security measures to protect your information on Internshala. The third party payment service providers (payment gateways) are all validated as compliant with the payment card industry standard (generally referred to as PCI compliant service providers).
          <br><br>
          While we try our best to safeguard information, there may be factors beyond our control that may result in unwanted disclosure of information. We assume no liability or responsibility for disclosure of your information due to causes beyond our control.
          <br><br>
          In order to keep personal information secure, you must not share your password or other security information (for example, unique keys) of your Internshala account with anyone. If you are using a shared computer, please make sure you logout after every use. If we receive instructions using your email and password, we will consider that the instructions have been authorized by you.
        </p>
      </li>
      <li>
        <h5>No Guarantees</h5>
        <p>
          While this Privacy Policy states our standards for maintenance of data and we will make efforts to meet them, we are not in a position to guarantee these standards. There may be factors beyond our control that may result in disclosure of data. As a consequence, we disclaim any warranties or representations relating to maintenance or nondisclosure of data.
        </p>
      </li>
      <li>
        <h5>Changes to this Privacy Policy</h5>
        <p>
          We may make changes to this Policy from time to time. We may notify you of substantial changes to this Policy either by posting a prominent announcement on our Services and/or by sending a message to the e-mail address you have provided to us. You are advised to refer to this page to know about our latest Privacy Policy.
        </p>
      </li>
    </ol>
  </div>
</section>
<section class="s2"><br>
  <div>
    <h3>TERMS & CONDITIONS</h3>
  </div>
</section>
<section class="s3">
  <div class="container">
    <ol>
      <li>
        <h5 style="margin-top: 4%;">Terms</h5>
        <p>
          By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
        </p>
      </li>
      <hr>
      <li>
        <h5>Use License</h5>
        <ol style="list-style: upper-alpha;" start="A">
          <li>
            Permission is granted to temporarily download one copy of the materials (information or software) on InternPath's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
            <ol style="list-style: upper-roman;">
              <li>Modify or copy the materials;</li>
              <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
              <li>Attempt to decompile or reverse engineer any software contained on InternUp's web site;</li>
              <li>Remove any copyright or other proprietary notations from the materials; or</li>
              <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
            </ol>
          </li>
          <li>
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by InternPath at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
          </li>
        </ol>
      </li>
      <hr>
      <li>
        <h5>Registration Data and Account Security</h5>
        In consideration of your use of the Site, you agree to:
        <ol style="list-style: upper-alpha;">
          <li>provide accurate, current and complete information about you as may be prompted by any registration forms on the Site ("Registration Data"); </li>
          <li>maintain and promptly update the Registration Data, and any other information you provide in this site, to keep it accurate, current and complete; </li>
          <li>maintain the security of your password and identification; </li>
          <li>notify immediately of any unauthorized use of your account or any other breach of security; </li>
          <li>accept all responsibility for any and all activities that occur under your account; and </li>
          <li>accept all risks of unauthorized access to the Registration Data and any other information you provide in this site. Please refer to our Privacy Policy for more details on how we collect, store, use, and retain your data on the Site.
        </ol>
      </li>
      <hr>
      <li>
        <h5>Disclaimer</h5>
        The materials on InternPath's web site are provided "as is". InternUp makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, InternUp does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
      </li>
      <hr>
      <li>
        <h5>Using this Website</h5>
        This Site and its Content are intended for Users of internshala.com, the division of SEPL. You may not use this Site or the content for any purpose, which is not related to your business with internshala.com. Any use of the Content, this Site or any of its functionality for a purpose not permitted by these Terms is grounds for the immediate revocation of any usernames, pass codes or other permissions that may have been granted by internshala.com on behalf of SEPL for use of this Site. You are specifically prohibited from:
        <ol style="list-style: upper-roman;">
          <li>downloading, copying, or retransmitting any or all of the Site or the Content without, or in violation of, a written license or agreement with InternPath; </li>
          <li>using any data mining or similar data gathering or extraction methods; </li>
          <li>manipulating or otherwise displaying the site or the content by using, framing or similar navigational technology; </li>
          <li>registering, subscribing, unsubscribing, or attempting to register, subscribe any party for any the site if you are not expressly authorized by such party to do so; and </li>
          <li>using the Site or Content other than for its intended purpose. Such unauthorized use may also violate applicable laws including without limitation copyright and trademark laws, the laws of privacy and publicity, and applicable communications regulations and statutes. You represent and warrant that you will comply with all applicable regulations, including, without limitation, those relating to the internet, data, e-mail, privacy and the transmission of technical data exported from India or the Country in which you reside.</li>
        </ol>

      </li>
      <hr>
      <li>
        <h5>Limitations</h5>
        In no event shall InternPath or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on InternUp's Internet site, even if InternUp or a InternUp authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
      </li>
      <hr>
      <li>
        <h5>Indemnity</h5>
        You agree to defend, indemnify and hold harmless, its subsidiaries, affiliates, licensors, employees, agents, third party information providers and independent contractors against any claims, damages, costs, liabilities and expenses (including, but not limited to, reasonable attorneys' fees) arising out of or related to any User Content that you post, store or otherwise transmit on or through the Site, your conduct, your use or inability to use the Site, your breach or alleged breach of the Site Terms or of any representation or warranty contained herein, your unauthorized use of the Content, or your violation of any rights of another. Further you shall indemnify, its subsidiaries, its affiliates and licensors against any loss, expense, cost or damage incurred by any or all of them as a result of your breach of these Terms or your unauthorized use of the Content or the Site.
      </li>
      <hr>
      <li>
        <h5>Jurisdiction</h5>
        All license agreements, use or any issues arising out of any activity regarding the use of this website will be governed by the laws of India and subject to the exclusive jurisdiction of courts in Gujarat.
      </li>
    </ol>
  </div>
</section>





<section class="s4">
  <footer class="footer2">
    <div class="container-fluid text-center bg-dark">
      <p>2022 Copyright &copy; RideShare</p>
    </div>
  </footer>
</section>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>